{% from "macros.jinja2" import todo_list %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    {% set num_todos = todos | length %}
    {% if num_todos > 0 %}
    <p>You have {{ num_todos }} left to do today</p>
    {{ todo_list(todos) }}
    {% else %}
    <p>You have nothing to do today! Relax!</p>
    {% endif %}
</body>
</html>